<section class="flex flex-col">

  <h1 class="text-green-300 text-lg font-semibold mb-3">
    Imágenes procesadas
  </h1>

  <form *ngIf="frmList" class="flex max-[640px]:flex-col sm:flex-col md:flex-row lg:flex-col gap-3"
    [formGroup]="frmList">

    <div>

      <label class="text-white font-light text-sm">
        Fecha inicial
      </label>

      <input type='datetime-local' placeholder='Fecha inicial' formControlName="startDate" #txtDateStart
        class='bg-transparent text-white rounded-md border-2 border-gray-600 py-1 px-2 hover:border-violet-400 w-full'
        [ngClass]="{'border-red-600': getMessageError('startDate')}" />

    </div>

    <div>

      <label class="text-white font-light text-sm">
        Fecha final
      </label>

      <input type='datetime-local' placeholder='Fecha final' formControlName="endDate" #txtDateEnd
        class='bg-transparent text-white rounded-md border-2 border-gray-600 py-1 px-2 hover:border-violet-400 w-full'
        [ngClass]="{'border-red-600': getMessageError('endDate')}" />

    </div>

    <button type="button" (click)="validateForm()"
      class="pointer-events-auto rounded-md bg-gray-800 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-violet-400 border-2 border-gray-900 hover:border-violet-300 w-full">
      Consultar
    </button>

  </form>

</section>

<section *ngIf="images.length" id="image-panel-result"
  class="grid max-[640px]:grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4 mt-4 list-content">

  <div *ngFor="let k of images" class="flex flex-row items-center gap-4">

    <img [src]="k.path" title="Imagen subida por el usuario" (click)="viewDetail(k)"
      class="w-28 rounded-2xl cursor-pointer border-2 border-transparent hover:border-white" />

    <div class="flex flex-col text-white">
      <label class="text-sm font-light">{{k.createdAt}}</label>
      <small>{{k.fileName}}</small>
      <label>{{k.user}}</label>
    </div>

  </div>

</section>

<section *ngIf="!images.length" class="flex flex-col justify-center items-center h-2/4">

  <h1 class="text-violet-300 text-lg font-semibold text-center">
    No se han encontrado imágenes procesadas en el rango de fechas seleccionado
  </h1>

</section>

<!-- MODAL -->

<div *ngIf="imageSelected">
  <app-detail (outCerrar)="closeModalDetail()" [conversion]="imageSelected"></app-detail>
</div>