<div class="bg-gray-900 h-screen grid lg:grid-cols-4 gap-3">

  <div class="bg-gray-900 grid sm:grid-rows-2 lg:grid-rows-2 lg:col-span-3 gap-3">

    <div class="bg-gray-800 lg:rounded-br-xl">
      <app-main></app-main>
    </div>

    <div class="bg-gray-800 lg:rounded-tr-xl">
      <app-resume></app-resume>
    </div>

  </div>

  <div class="bg-gray-900 h-screen p-3">
    <app-list></app-list>
  </div>

</div>
<!-- 
<div class="bg-gray-900 h-screen flex flex-row gap-3">

  <div class="w-4/5 h-screen flex flex-col gap-3">

    <section class="bg-gray-800 h-1/2 rounded-br-xl">
      <app-main></app-main>
    </section>

    <section class="bg-gray-800 h-1/2 rounded-tr-xl">
      <app-resume></app-resume>
    </section>

  </div>

  <section class="bg-gray-800 w-1/5 h-screen p-3">
    <app-list></app-list>
  </section>

</div> -->