<div class="bg-gray-900 grid lg:grid-cols-3 gap-3 h-full">

  <section class="bg-gray-800 p-5 flex flex-col gap-2 justify-center items-center rounded-b-2xl">

    <img title="logo" class="w-14" src="../../../assets/logo.png" />

    <h1 class="text-red-300 text-lg font-semibold text-center mb-3">
      Restobares APP
    </h1>

    <label class="text-white">
      A continuación, selecciona la imagen que requireas almacenar y diligencia el formulario
      del paso 2. Al subir la imagen, podrás visualizar un histórico por fechas, donde se visualizará
      el responsable del proceso y el recurso almacenado. También, se podrá visualizar la cantidad de imagenes
      procesadas por horas en un rango de fechas definido por el usuario.
    </label>

  </section>

  <section class="bg-gray-800 p-5 flex flex-col gap-4 justify-center items-center rounded-b-2xl">

    <form class="flex flex-col gap-3">

      <h1 class="text-green-300 text-lg font-semibold text-center mb-3">
        Paso 1. Seleccionar imagen
      </h1>

      <div>

        <input type='file' title="Seleccione una imagen" (change)="changeImage($event)" #txtFile
          accept="image/jpeg, image/jpg"
          class='bg-transparent text-white rounded-md border-2 border-gray-600 py-1 px-2 hover:border-violet-400 w-full' />

        <label class="text-red-400 text-sm">
          {{getMessageError('image')}}
        </label>

      </div>

    </form>

    <img id="main-img-selected" class="w-4/5 h-full rounded-xl" [src]="image.value" title="Image selected"
      *ngIf="image.value" />

    <button type="button" *ngIf="image.value" (click)="resetImage()"
      class="pointer-events-auto rounded-md bg-gray-900 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-violet-400 border-2 border-gray-900 hover:border-violet-300">
      Eliminar
    </button>

  </section>

  <section class="bg-gray-800 p-5 flex flex-col justify-center rounded-b-2xl">

    <form class="flex flex-col gap-3" [formGroup]="frmMain">

      <h1 class="text-green-300 text-lg font-semibold text-center mb-3">
        Paso 2. Datos requeridos
      </h1>

      <div>

        <label class="text-white font-light text-sm">
          Nombre de la imagen
        </label>

        <input type='text' id="txtFileName" placeholder='Ingrese el nombre de la imagen' formControlName="fileName"
          class='bg-transparent text-white rounded-md border-2 border-gray-600 py-1 px-2 hover:border-violet-400 w-full' />

        <label class="text-red-400 text-sm">
          {{getMessageError('fileName')}}
        </label>

      </div>

      <div>

        <label class="text-white font-light text-sm">
          Nombre completo
        </label>

        <input type='text' id="txtUserName" placeholder='Ingrese el nombre completo' formControlName="userName"
          class='bg-transparent text-white rounded-md border-2 border-gray-600 py-1 px-2 hover:border-violet-400 w-full' />

        <label class="text-red-400 text-sm">
          {{getMessageError('userName')}}
        </label>

      </div>

      <button type="button" (click)="validateForm()"
        class="mt-5 pointer-events-auto rounded-md bg-gray-900 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-violet-400 border-2 border-gray-900 hover:border-violet-300 w-full">
        {{ loading ? 'Cargando...' : 'Convertir' }}
      </button>

    </form>

  </section>

</div>