<div class="flex flex-col">

  <section class="grid grid-cols-2 p-5">

    <h1 class="text-green-300 text-lg font-semibold mb-3">
      Imágenes procesadas por hora
    </h1>

    <form class="flex flex-row justify-end gap-3" [formGroup]="frmResume">

      <input type='datetime-local' placeholder='Fecha inicial' formControlName="startDate" #txtDateStart
        [ngClass]="{'border-red-600': getMessageError('startDate')}"
        class='bg-transparent text-white rounded-md border-2 border-gray-600 py-1 px-2 hover:border-violet-400 w-full' />

      <input type='datetime-local' placeholder='Fecha final' formControlName="endDate" #txtDateStart
        [ngClass]="{'border-red-600': getMessageError('endDate')}"
        class='bg-transparent text-white rounded-md border-2 border-gray-600 py-1 px-2 hover:border-violet-400 w-full' />

      <button type="button" title="Refresh" (click)="validateForm()"
        class="pointer-events-auto rounded-md bg-gray-900 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-violet-400 border-2 border-gray-900 hover:border-violet-300 w-20">
        Consultar
      </button>

    </form>

  </section>

  <section>

    <div id="chart">
      <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis" [colors]="chartOptions.colors" [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid"></apx-chart>
    </div>

  </section>

</div>